.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 2px;
}

.input-field label {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  padding-left: 4px;
}

.input-field input,
.input-field textarea,
.input-field select {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #373737;
  padding: 11px 12px 13px;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.input-field textarea {
  resize: none;
}

.input-field input:focus,
.input-field textarea:focus,
.input-field select:focus {
  border-color: #11998e;
}

.invalid-field {
  border-color: #ff6b6b !important;
}

.err-line {
  font-size: 14px;
  color: #ff6b6b;
  margin-top: 2px;
}
